
<!DOCTYPE html>
<html>
  <head>
    <title>About Me</title>
  </head>
  <body>
    <h1>Chodikov, Madison</h1>
    <h4>Here are some fun facts about me!</h4>
    <p>     I was born in Las Vegas, Nevada</p> <!-- Fact 1 -->
    <p>     I love robots</p> <!-- Fact 2 -->
    <p>     I have a kitten named Pickles</p> <!-- Fact 3 -->
    <!-- Why CS -->
    <p>I am currently studying Electrical and Computer Engineering becuase
        I love working with embedded systems. </p>
    </p>

    <h2>My Professional Profile</h2>
    <a href="https://github.com/madichodikov">Madison's Github</a> <!-- Link to Github-->
    <br><br><br><br>
    <img class="card-img-top" src="../resources/img/linkedin3.jpg" alt="Picture of Me" height="700px" width="500px">
    <h3>My Favorite Projects</h3>
    <table class = "table">
        <tr>
            <th>Name of the Project</th><th>Technologies Used</th>
        </tr>
        <tr>
            <td>TMP117 Breakout</td><td>C</td>
        </tr>
        <tr>
            <td>Autonomous Dune Rover</td><td>Rasp Pi/Python</td>
        </tr>
        <tr>
            <td>Alphabumeric Display Breakout</td><td>C</td>
        </tr>
        </tr>
    </table>
    <br><br>
    <h3>My Technical Interests</h3>
    <ul>
        <li>Hiking</li>
        <li>Building Robots</li>
        <li>Road Trips</li>
    </ul>
</body>
</html>
